/* COMMON */
.body_container {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}


a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}

.body_container {
    
}

/* 상단바 */
header {
 
}
.header_inner {
    max-width:1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
    
}

.header_inner::after {
    content:"";
    clear:both;
    display: block;
}

.logo {
    float:left;
    padding: 8px 12px;
    font-size: 2.5rem;
}

.menu {
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:15px;
}
.menu li {
    padding: 8px 12px;
    font-size:rem;
}

/* 사이드바 */
.aside {
    padding-top: 20px;
}

.aside li {
    padding: 10px 8px;
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 800;
}

.policy-bundle {
    margin: 30px;
}

.privacy, .terms {
    padding: 10px 8px;
    font-size: 1.2rem;
}