/* COMMON */
.body_container {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* 상단바 */
.header_inner {
    max-width:90vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
}

.header_inner::after {
    content:"";
    clear:both;
    display: block;
}

.logo {
    float:left;
    padding: 8px 12px;
    font-size: 2.5rem;
}

.aside-inner {
    display: flex;
    float: right;
}

.aside-inner li {
    padding: 10px 8px;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 700;
}

.menu {
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:15px;
}
.menu li {
    padding: 8px 12px;
    font-size:rem;
}

/* home */
.bg-bundle {
    width: 80vw;
    height: 80vh;
    background-color: #d6e0f0;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    margin-top: 20px;
   }
   
   .intro {
       width: fit-content;
       justify-content: center;
       align-items: center;
       padding: 5px;
   }
   
   .intro1 {
       font-size: 2rem;
       font-weight: 700;
   }
   
   .intro2 {
       margin-top: 20px;
       font-size: 1.2rem;
       font-weight: 600;
   }
   
   button .btn {
       font-size: 1.1rem;
       font-weight: 600;
       margin-top: 20px;
       margin-left: 5px;
   }

/* 팀 */
button{
    border: black 2px solid;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    float: left;
}

.team-container #team-pagetab{
    text-align: center;
    vertical-align: bottom;
}
.team-container #team-content{
    padding: 0 36px 0 36px;
}

#login-message{
    padding-left: 36px;
    text-align: center;
}
#login-message button{
    padding: 2px 12px;
}
#login-message p{
    margin-top: 0;
    margin-bottom: 5px;
}
#login-message a{
    text-decoration: none;
    padding: 2px 5px 3px 5px;
    border: 1px solid grey;
    background-color: grey;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
}
#login:focus{
    outline: none;
}
#login:hover{
    cursor: pointer;
}

/* footer */
.footer_container{
    width: 80vw;
    height:50px;
    position:absolute;
    bottom:0;
    align-items: center;
    justify-content: center;
}
.footer_container a{
    text-decoration: none;
    color: #000000;
}
.footer_container ul, ol, li{
    list-style: none;
}
.footer_container ul{
    padding: 0;
    margin: 0;
}
.footer_container .footer_inner{
    text-align: center;
}
.footer_container .footer_inner li{
    display: inline;
}
.footer_container .copyright{
    text-align: center;
}