{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>YS</title>
    <meta author="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- http://ogp.me/ -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="YS">
    <!-- Twitter Card -->
    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="YS">
    <meta property="twitter:title" content="#">
    <meta property="twitter:description" content="#">
    <meta property="twitter:image" content="#">
    <meta property="twitter:url" content="#">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- script -->
    <script src="#" defer></script>
    <style>
        .body_container {
        background: gray url({% static "image/bi.jpg" %}) no-repeat center;
        background-size: cover;
        height: 100vh;
        }
    </style>
</head>

<body>
    <div class="body_container">
    <div class="body_contents">
         <!-- 상단바 -->
         <header>
            <header>
                <div class="header_inner">
                    <div class="logo">
                        <a href="#">amator</a>
                    </div>

                    <ul class="aside-inner">
                        <li id="home"><a href="#">HOME</a></li>
                        <li id="team"><a href="#">TEAM</a></li>
                        <li id="league"><a href="#">LEAGUE</a></li>
                        <li id="community"><a href="#">COMMUNITY</a></li>
                        <li id="community"><a href="#">MY PAGE</a></li>
                    </ul>
                </div>
            </header>

        </header>

        {% block content %}
        {% endblock %}

        <div class="footer_container">
            <div class="footer_inner">
                <ul id="footer">
                    <li><a href="#">개인정보처리방침 |
                        </a></li>
                    <li><a href="#">서비스이용약관</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright ⓒ Amator. All Rights Reserved.</p>
            </div>
        </div>
    </div>
       
    </div>


</body>

</html>