{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="community_tap">
    <a href="{% url 'community_notice' %}" style="font-weight: bold;">공지사항&nbsp;&nbsp;</a>
    <a href="{% url 'community_pr' %}">홍보 게시판&nbsp;&nbsp;</a>
    <a href="{% url 'community_chat' %}">잡담방</a>
</div>

<div>
    {% for notice in notices %}
    <div>
        <h1>{{ notice.title }}<br></h1>
        <p>{{ notice.content}}</p>
        {{ notice.create_at|date:"Y년 m월 d일"}}<br>
    </div>
    {% endfor %}

</div>

{% endblock %}