{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-bundle-league">
    <div id="team-pagetab">
        <button><a href="{% url 'home' %}">←</a></button>
        <div class="pagetab">
                <a href="{% url 'community_notice' %}" style="font-style: unset;">공지사항&nbsp;&nbsp;</a>
                <a href="{% url 'community_pr' %}">홍보 게시판&nbsp;&nbsp;</a>
                <a href="{% url 'community_chat' %}">잡담방</a>
        </div>
    </div>
</div>


{% endblock %}