<style>
    .community_menu{
    text-align: center;
    font-size: 20px;
    }
    #grid{
        display: gird;
        grid-template-columns: 100px;
    }
</style>

{% extends 'base.html' %}
{% load static %}

{% block content %}

<a class="community_menu" href="{% url 'community_notice' %}">공지사항</a>
<a class="community_menu" href="###">홍보 게시판</a>
<a class="community_menu" href="###">잡담방</a>

<div id="gird">
{% for notice in notices %}
    <a href="###">
    {{ notice.title }}
    {{ notice.content }}
    {{ notice.create_at|date:"Y년 m월 d일"}}
    </a>
{% endfor %}
</div>


{% endblock %}
