{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- 메인 -->
<section>
    <div class="bg-bundle">
        <div class="intro intro1">대회를 더 쉽게,</div>
        <div class="intro intro1">스포츠를 더 즐겁게!</div>
        <div class="intro intro2">amator는 교내 스포츠 대회 참가/개최를 간편하게 합니다.</div>
        
        <div class="button-bundle">
            <button class="btn btn-team"><a href="{% url 'team_src' %}">팀 찾기</a></button>
            <button class="btn btn-league">대회 찾기</button>
        </div>
    </div>

    
</section>


{% endblock %}
