{% extends 'base.html' %}

{% block content %}
<div class="team-container">
    <div id="team-pagetab">
        <button><a href="{% url 'home' %}">←</a></button>
        <a href="{% url 'team' %}">팀정보</a>
        <a href="{% url 'team_src' %}"><strong>팀가입</strong></a>
    </div>

    <div id="team-content">
        <div id="team-info">
            <p>나의 소속팀 정보</p>
            <div id="login-message">
                <p>소속팀이 존재하지 않습니다.</p>
                <a href="{% url 'team_src' %}">팀가입하기</a>
            </div>
        </div>
        <div id="team-scd">
            <p>경기일정</p>
        </div>
        <div id="team-squad">
            <p>선수단</p>
        </div>
    </div>
</div>
{% endblock %}
