{% extends 'base.html' %}

{% block content %}
<div class="team-container">
    <div id="team-pagetab">
        <button><a href="{% url 'home' %}">←</a></button>
        <a><strong>팀정보</strong></a>
        <a>팀가입</a>
    </div>

    <div id="team-content">
        <div id="tema-info">
            <p>나의 소속팀 정보</p>
        </div>
        <div id="login-message">
            <button>!</button>
            <p>소속팀 정보를 확인하려면 로그인이 필요합니다.</p>
            <a href="#">로그인</a>
        </div>   
    </div>
</div>
{% endblock %}
